<section class="header">
  <div class="header-content">
    @if (getScreenWidth >= 768) {
      <a class="logo"
        ><img src="./img/logo.png" alt="poketmonsters logo" class="logo"
      /></a>
    } @else {
      <a class="logo-small"
        ><img
          src="./img/logo-small.png"
          alt="poketmonsters logo"
          class="logo-small"
      /></a>
    }
    <input
      type="text"
      class="search"
      placeholder="Search Pokemon..."
      [(ngModel)]="input"
      (ngModelChange)="onSearchChange()"
    />
  </div>
</section>
