<div
  class="big-card"
  [id]="selectedPokemon?.id"
  (click)="$event.stopPropagation()"
  [ngClass]="{ 'is-visible': !bigCardOpen || !selectedPokemon }"
  [style]="{
    background: pokemonService.getPokemonTypeColors(
      selectedPokemon.details?.types[0].type.name
    ),
  }"
>
  <span>{{ selectedPokemon?.name }}</span>
  <img
    class="pokemon-image"
    [src]="
      selectedPokemon?.details?.sprites?.other['official-artwork'].front_default
    "
    alt="{{ selectedPokemon?.name }}"
  />
  <canvas #ctx>
    <app-stats-chart
      [ctx]="canvas"
      [selectedPokemon]="selectedPokemon"
    ></app-stats-chart>
  </canvas>

  <div class="change-pokemon">
    <button (click)="previousPokemon()"><</button>
    <button (click)="nextPokemon()">></button>
  </div>
</div>
