.big-card{
    height: 500px;
    width: 500px;
    border-radius: 10px;
    // display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.is-hidden {
    display: none;
}

.is-visible {
    display: flex;
}