<app-header></app-header>

<section class="main">
    <div class="search">
        <app-search-result></app-search-result>
    </div>

    <div class="pokemon">
        @for (pokemon of pokemonSaved; track $index) {
        <!-- <span>{{ pokemon.name }} </span> -->
        <!-- <span>{{ pokemonSaved[$index].details.sprites.front_shiny }}</span> <br> -->
        <img class="sprite" [src]="pokemonSaved[$index].details?.sprites?.other['official-artwork'].front_default"
            alt="">
        }
        <!-- <app-cards [id]="$index"></app-cards> -->
        <app-cards></app-cards>
    </div>

    <div class="big-card">
        <app-big-card></app-big-card>
    </div>
</section>