<!-- @for (pokemon of filteredPokemon; track pokemon.id) { -->
<div *ngFor="let pokemon of filteredPokemon; trackBy: trackByPokemonId">
  <div
    class="pokemon-card"
    [id]="'pokemonCardId-' + pokemon.id"
    (click)="card.openBigPokedex(pokemon)"
  >
    <div class="title-card">
      <span class="pokemon-name">
        {{ pokemon.name }}
      </span>
      <span class="pokemon-id">
        {{ formatPokemonId(pokemon.id) }}
      </span>
    </div>
    <img
      class="pokemon-image"
      [src]="pokemon.details?.sprites?.other['official-artwork'].front_default"
      alt=""
    />

    <div class="info-container">
      <div class="info-middle">
        <div class="types">
          <span
            class="type"
            [style]="{
              color: app.getPokemonTypeColors(
                pokemon.details?.types[0].type.name
              ),
            }"
          >
            {{ pokemon.details?.types[0].type.name }}
          </span>
          <span
            class="type"
            [style]="{
              color: app.getPokemonTypeColors(
                pokemon.details?.types[1]?.type.name
              ),
            }"
          >
            {{ pokemon.details?.types[1]?.type.name }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- } -->
