<section class="main">
  <div class="search">
    <app-search-result></app-search-result>
  </div>
  <button
    [style.display]="app.pokemonCount < app.pokemonMax ? 'block' : 'none'"
    (click)="app.loadMorePokemons()"
  >
    Load more
  </button>

  <app-cards></app-cards>
</section>

@if (bigCard.bigCardOpen && bigCard.selectedPokemon != null) {
  <app-big-card
    [style.display]="bigCard.bigCardOpen ? 'flex' : 'none'"
    [selectedPokemon]="bigCard.selectedPokemon"
    [pokemonList]="app.pokemonSaved"
    (click)="closePokedex()"
  ></app-big-card>
}
