<section class="main">
  <div class="search">
    <app-search-result></app-search-result>
  </div>
  <button
    [style.display]="
      pokemonService.pokemonCount < pokemonService.pokemonMax ? 'block' : 'none'
    "
    (click)="loadMorePokemons()"
  >
    Load more
  </button>

  <app-cards></app-cards>

  <button (click)="loadMorePokemons()">Load more</button>
</section>

@if (bigCard.bigCardOpen && bigCard.selectedPokemon != null) {
  <app-big-card
    [style.display]="bigCard.bigCardOpen ? 'flex' : 'none'"
    [selectedPokemon]="bigCard.selectedPokemon"
    [pokemonList]="pokemonService.pokemonSaved"
    (click)="closePokedex()"
  ></app-big-card>
}
