.main {
    height: calc(100vh - 5rem);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-cards,
.search-cards {
    margin-top: 20px;
}

app-cards,
app-search {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.875rem;
}

app-big-card {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(112, 111, 111, 0.411);
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .9375rem;
    cursor: default;
}

app-loading-spinner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
}