<section class="main">
  <button
    [style.display]="app.pokemonCount < app.pokemonMax ? 'block' : 'none'"
    (click)="app.loadMorePokemons()"
  >
    Load more
  </button>

  <!-- @if (filteredPokemon.length == 0) {
    <div class="pokemon-cards">
      <p>Filtered Pokemon Count: {{ filteredPokemon.length }}</p>
      <app-cards></app-cards>
    </div>
  } @else { -->
  <!-- <div class="search-cards">
    <p>Filtered Pokemon Count: {{ filteredPokemon.length }}</p>
    <app-search></app-search>
  </div> -->
  <!-- } -->

  <ng-container *ngIf="filteredPokemon$ | async as filteredPokemon">
    <div *ngIf="filteredPokemon.length === 0">
      <div class="pokemon-cards">
        <p>Filtered Pokemon Count: {{ filteredPokemon.length }}</p>
        <app-cards></app-cards>
      </div>
    </div>

    <div *ngIf="filteredPokemon.length > 0">
      <div class="search-cards">
        <p>Filtered Pokemon Count: {{ filteredPokemon.length }}</p>
        <app-search></app-search>
      </div>
    </div>
  </ng-container>
</section>

@if (bigCard.bigCardOpen && bigCard.selectedPokemon != null) {
  <app-big-card
    [style.display]="bigCard.bigCardOpen ? 'flex' : 'none'"
    [selectedPokemon]="bigCard.selectedPokemon"
    [pokemonList]="app.pokemonSaved"
    (click)="closePokedex()"
  ></app-big-card>
}
