.pokemon-card {
    height: 300px;
    width: 300px;
    background: linear-gradient(112.1deg, rgb(25, 25, 26) 11.4%, rgb(49, 49, 51) 70.2%);
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
    transition: transform 0.3s ease;
    position: relative;

    &:hover { 
        
        .pokemon-image {
            transform: scale(1.5);
            transition: transform 0.5s ease-in-out;    
        }
    }
}

.pokemon-card-top {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.title-card {
    width: 100%;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.pokemon-name{
    text-transform: capitalize;
    margin-left: 5px;
}

.pokemon-id {
    margin-right: 5px;
}

.pokemon-image {
    height: 150px;
    width: 150px;

    &:hover {
        transform: scale(1.5);
        transition: transform 0.5s ease-in-out;
    }
}

.info-container {
    height: 3.75rem;
    font-weight: 700;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.types {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    text-transform: capitalize;
}